@import url(https://fonts.googleapis.com/css?family=VT323);
@mixin center {
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'VT323',monospace;
  box-sizing: border-box;
}

.button {
  font-family: 'VT323',monospace;
  background-color: #2ecc71;
  &:hover, &:focus {
    background-color: #27ae60;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'VT323',monospace;
}
input[type="text"] {
  height: auto;
  font-size: 1.5em;
  padding: .7em;
  margin-bottom: 0;
}

input[type="submit"] {
  font-size: 1.5em;
}

.todoList {
  border: 1px solid black;
  margin-bottom: 3em;
  h2 {
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-bottom: 0;
  }
  .todo {
    font-size: 1.5em;
    padding: .5em 0 .5em 0;
    margin: .25em 0em .25em 0em;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.68);;
    .todo-delete {
      font-size: 1.5em;
      a i {
        visibility: hidden;
        color: #e74c3c;
        &:hover, &:focus {
          color: #F11B1B;
        }
      }
    }
  }
}

.todo:hover .todo-delete a i, .todo:focus .todo-delete a i {
  visibility: visible;
}


@keyframes my_animation {
  from {
    max-height: 85vh;
  }
  to {
    max-height: 0;
  }
}

.ng-enter {
    max-height: 0px;
    transition: 1s;
    transform: translateY(-4em);
}
.ng-enter-active {
    max-height: 85vh;
    transform: translateY(0px);
}

.ng-leave {
  transition: .7s;
  transform: scale(1);
}
.ng-leave-active {
  transform: scale(0);
  animation: .7s my_animation;
}
